* {
  font-family: 'Roboto', sans-serif;

}

body {
  background-color: #f6f8fc;
}

.container {
  width: auto;
  height: 100vh;
  padding: 1rem;
  background-color: #FFF;
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
  }
}
